<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>967003220978-d4436tdo1ktfe41827qr88m7uhujdtt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967003220978-d4436tdo1ktfe41827qr88m7uhujdtt2</string>
	<key>API_KEY</key>
	<string>AIzaSyB3eP32Fe77vfQeOeZRTm0Y9NtbjhNXBL8</string>
	<key>GCM_SENDER_ID</key>
	<string>967003220978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.personjeh.InspiringQuotes</string>
	<key>PROJECT_ID</key>
	<string>testgcm-2f316</string>
	<key>STORAGE_BUCKET</key>
	<string>testgcm-2f316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967003220978:ios:2effc3f8160d768e</string>
	<key>DATABASE_URL</key>
	<string>https://testgcm-2f316.firebaseio.com</string>
</dict>
</plist>